---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Blog";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp" />
  </div>
  <h2>Learn :Apprendre et Comprendre ✍️</h2>

  <ul role="list" class="link-card-grid">
    <Card
      href="https://www.youtube.com/watch?v=VFzX7LJiHok"
      image="/stage.jpg"
      title="ECG - video"
      body="Apprendre l' ECG, position des électrodes"
    />
    <Card
      href="https://www.youtube.com/watch?v=zFtLrjGl53U"
      image="/stage.jpg"
      title="ECG simplifier - video"
      body="Apprendre L'ECG"
    />
    <Card
      href="https://www.youtube.com/watch?v=Hn4k57k0tAc"
      image="/stage.jpg"
      title="ECG - Video"
      body="Exercices sur l'ECG"
    />
    <Card
      href="https://www.youtube.com/watch?v=cYmAgi2HtnE"
      image="/3.jpg"
      title="ESV - video"
      body="ESV fréquente que faire"
    />
    <Card
      href="https://ekg.academy/fr/quiz-ecg-avec-moniteur/2"
      image="/3.jpg"
      title="ECG"
      body="Exercices sur l'ECG"
    />
    <Card
      href="https://www.youtube.com/watch?v=Hn4k57k0tAc"
      image="/3.jpg"
      title="ECG - video"
      body="Exercices sur l'ECG"
    />
    <Card
      href="https://www.ecg-quiz.com/ecg-quiz/"
      image="/sante.jpg"
      title="ECG"
      body="Quiz sur l'ECG"
    />
    <Card
      href="https://www.paramed-cardiologie.fr/quiz/quiz-role-des-auxiliaires-medicaux-en-rythmologie-interventionnelle.html"
      image="/sante.jpg"
      title="Quiz"
      body="Quiz - plusieurs sujets"
    />
    <Card
      href="https://www.cite-sciences.fr/fileadmin/fileadmin_CSI/fichiers/au-programme/lieux-ressources/cite-de-la-sante/_documents/Ressources/Brochures/2020-EXAM-EN-CARDIO.pdf"
      image="/sante.jpg"
      title="Pdf"
      body="les examens en cardiologie"
    />
    <Card
      href="https://www.centre-coeur-et-sante.fr/les-examens/"
      image="/006.jpg"
      title="informations"
      body="Pour savoir plus sur les examens en cardiologie"
    />
    <Card
      href="https://www.youtube.com/watch?v=mKNoRRwRwl4"
      image="/006.jpg"
      title="Scintigraphie - video"
      body="Examen : Scintigraphie"
    />
    <Card
      href="https://www.youtube.com/watch?v=hSd0kWvqghI"
      image="/006.jpg"
      title="Echographie de stress - video"
      body="Examen echographie de stress "
    />
    <Card
      href="https://www.youtube.com/watch?v=OnyCsYYAme0"
      image="/01.jpg"
      title="Test d'effort - video"
      body="Déroulement de l 'examen"
    />
    <Card
      href="https://www.youtube.com/watch?v=z7IDEPeuSJM"
      image="/006.jpg"
      title=" ETT- video"
      body="Echographie transoesophagienne"
    />
    <Card
      href="https://www.youtube.com/watch?v=Z5hbVaIS3_E"
      image="/coro.jpg"
      title="Coronarographie - video"
      body="Examen coronarographique"
    />
    <Card
      href="https://www.youtube.com/watch?v=tr7q4br0jnM"
      image="/coro.jpg"
      title="ATL - video"
      body="Suivi du patient aprés ATL"
    />
    <Card
      href="https://www.cardio-paramed.com/coronagraphie/anatomie/"
      image="/coro.jpg"
      title="Anatmie"
      body="Anatomie des artères coronaire"
    />
    <Card
      href="https://www.youtube.com/watch?v=kuVZ_Tfe4R8"
      image="/coro.jpg"
      title="Coronarographie - video"
      body="Déroulement de l'examen"
    />
    <Card
      href="https://www.youtube.com/watch?v=J9YZquzCFGA"
      image="/111.jpg"
      title="Pose d'un KTC"
      body="Pose par voie sous clavière"
    />
    <Card
      href="https://www.youtube.com/watch?v=pwAU26eqqqg/"
      image="/111.jpg"
      title="KT arterielle"
      body="La préparation de la ligne arterielle"
    />
    <Card
      href="https://www.youtube.com/watch?v=Qj2_TTlCmCw"
      image="/111.jpg"
      title="KA"
      body="Mise a zéro la tête de mesure de la pression arterièlle"
    />
    <Card
      href="https://www.iefsante.eu/wp-content/uploads/2021/03/Module-2-Monitorage-et-abords-vasculaires-en-re%CC%81animation.pdf"
      image="/111.jpg"
      title="KTC - Pdf"
      body="Abords vasculaire et monitorage"
    />
    <Card
      href="https://sofia.medicalistes.fr/spip/spip.php?article176"
      image="/111.jpg"
      title="CVC - Pdf"
      body="Voie veineuse centrale "
    />
    <Card
      href="https://www.ch-carcassonne.fr/imgfr/files/ACCESVASCULAIRESENREANIMATION.pdf"
      image="/111.jpg"
      title="Acces vasculaire"
      body="Cas clinique"
    />
    <Card
      href="https://programme.europa-organisation.com/slides/programme_cnch-2017/39-20171124_0907_Auditorium_MONTINI_Florent_1111_(218)/MONTINI_Florent_20171124_0845_Auditorium_wmk.pdf"
      image="/vni.jpg"
      title="VNI"
      body="ventitation non invasive en unité de soins intensifs cardiologique"
    />
    <Card
      href="https://splf.fr/wp-content/uploads/2014/06/ReglageVentilateur-10062014.pdf"
      image="/vni.jpg"
      title="VNI"
      body="Comment régler un ventilateur ?"
    />
    <Card
      href="https://reussistonifsi.fr/guide-pratique-stage-infirmier-unite-soins-intensifs-cardiologie-usic/"
      image="/stage.jpg"
      title="Guide des stagiaires"
      body="Guide pratique du stage infirmier en USIC"
    />
  </ul>
  <h2>YouTube</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://www.youtube.com/watch?v=n8156TlwScY"
      image="/logotype-youtube-youtube-est-site-partage-videos_686498-399.avif"
      title="Video 1"
      body="École numérique de cardiologie"
    />
    <Card
      href="https://www.youtube.com/watch?v=2NHBO0c6tpQ"
      image="/logotype-youtube-youtube-est-site-partage-videos_686498-399.avif"
      title="Video 2"
      body="Introduction a la physiologie cardiaque"
    />
  </ul>
</Layout>
