---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp" />
  </div>
  <h2>Blog</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://cardiologie-montreuil.fr/le-sevrage-tabagique/"
      image="/public/patient.jpg"
      title="le sevrage tabagique"
      body="Comment arreter de fumer ?"
    />
    <Card
      href="https://www.centrecardiolaval.com/2024/03/02/alimentation-et-sante-cardiaque-comprendre-le-lien/"
      image="/public/patient.jpg"
      title="Alimentation et coeur"
      body="Alimentation et sante cardiaque, comprendre le lien"
    />
    <Card
      href="https://blog.libheros.fr/patients-et-proches/lhypertension-pourquoi-faut-il-lutter-contre"
      image="/public/patient.jpg"
      title="L'hypertension arterielle"
      body="Pourquoi faut il lutter contre ?"
    />
    <Card
      href="https://www.lamutuellegenerale.fr/blog/ma-sante/ce-quil-faut-savoir-quand-on-porte-un-pacemaker"
      image="/public/object024.jpg"
      title="Pacemaker"
      body="Ce qu'il faut savoir quand on porte un pacemaker cardiaque"
    />
    <Card
      href="https://rythmologie.paris/les-traitements-en-rythmologie/defibrillateur-automatique-implantable/"
      image="/public/object024.jpg"
      title="Défibrillateur implantable"
      body="qu'est ce un défibrillateur automatique implantable ?"
    />
    <Card
      href="https://www.secourisme-and-co.fr/defibrillateur-automatique/drones-defibrillateurs/"
      image="/public/object024.jpg"
      title="Drone défibrillateur"
      body="il ne s’agit pas d’un film de science fiction, le drone défibrillateur est bien réel !"
    />
    <Card
      href="https://www.secourisme-and-co.fr/non-classe/lifevest-la-veste-defibrillateur/"
      image="/public/soins.jpg"
      title="Défibrillateur cardiaque lifevest"
      body="une veste légère intégrant un défibrillateur cardiaque "
    />
    <Card
      href="https://rythmologie.paris/"
      image="/public/soins.jpg"
      title="Informations sur les anomalies du rythme cardiaque"
      body="Qu'est ce que la rythmologie ?"
    />
    <Card
      href="https://www.cardio-paramed.com/materiels-et-techniques-associees/le-rotablator/"
      image="/public/soins.jpg"
      title="Le rotablator"
      body="procédé consiste en une abrasion de la plaque calcifiée "
    />
    <Card
      href="https://universpharmacie.fr/"
      image="/public/patient.jpg"
      title="pharmacie"
      body="Univers pharmacie "
    />
    <Card
      href="https://www.attiredailes.be/pdf/botanique/bota_larousse-des-plantes-medicinales.pdf"
      image="/public/patient.jpg"
      title="Document Pdf"
      body="Encyclopédie des plantes médicinales "
    />
    <Card
      href="https://www.emploisoignant.com/"
      image="/public/patient.jpg"
      title="Offres d'emploi"
      body="emploi dans le domaine de la santé "
    />
  </ul>
  <h2>YouTube</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://www.youtube.com/"
      image="/public/logotype-youtube-youtube-est-site-partage-videos_686498-399.avif"
      title="Video 1"
      body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
    />
    <Card
      href="https://www.youtube.com/"
      image="/public/logotype-youtube-youtube-est-site-partage-videos_686498-399.avif"
      title="Video 2"
      body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
    />
  </ul>
</Layout>
