---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Works";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp" />
  </div>
  <small
    >⭐⭐⭐ Je m'appelle Mohamed je suis IDE en unité de soins intensifs
    cardiologique, et je suis developpeur web JavaScript ⭐⭐⭐
  </small>
  <h2>Qu'est ce que Astro</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://astro.build/"
      image="/fond-technologie_1302-14982.avif"
      title="Documentation"
      body="Si vous êtes un développeur web à la recherche d’une solution rapide et flexible pour la création de sites web, Astro est la solution idéale."
    />
    <Card
      href='https://www.startechup.com/fr/blog/astro-js/"'
      image="/fond-technologie_1302-14982.avif"
      title="Astro JS"
      body="Astro Js un aperçu de son installation et de ses principales foctionnalités"
    />
  </ul>
  <h2>Projects web</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://github.com/getify/You-Dont-Know-JS"
      image="/pro.png"
      title="JavaScript"
      body="You don't know JS, courses frontend Masters"
    />
    <Card
      href="https://nodesource.com/blog/top-10-best-nodeJS-open-source-projects/"
      image="/pro.png"
      title="NodeJS"
      body="Projets open source"
    />
    <Card
      href="https://github.com/developpeurhack/MyMorpion.git"
      image="/pro.png"
      title="Morpion"
      body="Mon algorithme pour jouer le morpion"
    />
  </ul>
  <h2>Projects AI</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://ollama.com/library/mistral"
      image="/pro.png"
      title="OLlama"
      body="OLlama est un outil d'IA conçu pour vous aider à exécuter localement de grands modèles de langage."
    />
    <Card
      href="https://chat.openai.com/auth/login?next=%2Fc%2Feccb7007-3f3e-49dd-805c-4f193c984501"
      image="/pro.png"
      title="OpenAi"
      body="OpenAI est un laboratoire de recherche privé qui vise à développer et à orienter l'intelligence artificielle (IA) de manière à ce qu'elle profite à l'humanité dans son ensemble"
    />
    <Card
      href="https://klap.app/"
      image="/pro.png"
      title="Klap"
      body="Klap est une innovation technologique fascinante dans le domaine de la vidéo"
    />
    <Card
      href="https://floneum.com/docs/user/workflow"
      image="/pro.png"
      title="Floneum"
      body="Floneum est un éditeur graphique robuste conçu pour permettre aux utilisateurs de créer des flux de travail basés sur l’IA avec facilité et intuitivité. "
    />
    <Card
      href="https://theresanaiforthat.com/"
      image="/pro.png"
      title="theresanaiforthat"
      body=" theresanaiforthat : Une base de données intelligentes qui trouve une IA pour chaque besoin. "
    />
    <Card
      href="https://bria.ai/"
      image="/pro.png"
      title="Bria AI"
      body="L'outil de Bria AI permet d'identifier quelles photos ont aidé l'intelligence artificielle à générer un visuel de synthèse."
    />
    <Card
      href="https://github.com/"
      image="/git.jpg"
      title="Project 7"
      body=""
    />
    <Card
      href="https://github.com/"
      image="/git.jpg"
      title="Project 8"
      body=""
    />
    <Card
      href="https://github.com/"
      image="/git.jpg"
      title="Project 9"
      body=""
    />
  </ul>
</Layout>
