---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-bar">
  <div class="title-link">
    <a href="/">Portfolio KM</a>
  </div>
  <div class="nav-links">
    <a href="/posts/">Blog</a>
    <a href="/blog/">Tutorial</a>
    <a href="/works/">Web</a>
    <a href="/contact/">Contact</a>
    <a href="https://github.com/" target="_blank">GitHub</a>
    <ThemeIcon />
  </div>
</div>
